<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Giỏ hàng</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Danh sách Giỏ hàng</h2>
<form th:action="@{/carts}" method="get" class="d-flex">
    <input type="text" name="search" th:value="${searchTerm}"
           class="form-control me-2" placeholder="Tìm kiếm theo tên">
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tài khoản</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${carts}">
        <td th:text="${cart.id}"></td>
        <td th:text="${cart.account.email}"></td>
        <td>
            <a th:href="@{|/carts/${cart.id}|}">Xem</a>
            <span th:if="${role == 'ADMIN'}">
                | <a th:href="@{|/cart-items?cartId=${cart.id}|}">Quản lý</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${totalPages > 1}" class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a th:href="@{/carts(search=${searchTerm}, page=${currentPage - 1})}"
                   class="page-link">Trước</a>
            </li>

            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a th:href="@{/carts(search=${searchTerm}, page=${currentPage + 1})}"
                   class="page-link">Sau</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
